<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
    </style>
    <title>Match Page</title>
  </head>

  <body class="body-overflow-hidden">
    <%- include('./header') %>
    <main>
      <%- include('./sidebar') %>
      <section class="agenda">
        <h2>Opkomende sessies</h2>
        <ul>
          <li>
            <article>
              <img src="/public/img/placeholderuser.png" />
              <h3>Quiten Kok</h3>
              <p>Project Tech</p>
            </article>
            <article>
              <p>Datum:</p>
              <h3>5 April</h3>
              <p>18:00 - 20:00</p>
            </article>
            <a>Bekijk</a>
          </li>
          <li>
            <article>
              <img src="/public/img/placeholderuser.png" />
              <h3>Ufuk Argun</h3>
              <p>Informatie architectuur</p>
            </article>
            <article>
              <p>Datum:</p>
              <h3>8 April</h3>
              <p>15:00 - 16:00</p>
            </article>
            <a>Bekijk</a>
          </li>
          <li>
            <article>
              <img src="/public/img/placeholderuser.png" />
              <h3>Bart Spons</h3>
              <p>Inleiding Programmeren</p>
            </article>
            <article>
              <p>Datum:</p>
              <h3>9 April</h3>
              <p>12:00 - 13:00</p>
            </article>
            <a>Bekijk</a>
          </li>
          <li>
            <article>
              <img src="/public/img/placeholderuser.png" />
              <h3>Sven Zoutman</h3>
              <p>Ubicomp</p>
            </article>
            <article>
              <p>Datum:</p>
              <h3>11 April</h3>
              <p>14:00 - 16:00</p>
            </article>
            <a>Bekijk</a>
          </li>
        </ul>
      </section>
      <section class="recStuds">
        <a href="/matchpage">Bekijk alle Studs</a>
        <h2>Hier zijn jouw geliked Studs</h2>
        <% if (studs.length === 0) { %>
        <p>Je hebt geen Studs geliked</p>
        <% } else { %>
        <ul id="likedStuds">
          <% studs.forEach(function(stud) { %>
          <li class="likedStudsStyle">
            <img src="/public/img/<%= stud.studsnaam %>.jpg" />
            <article>
              <h3><%= stud.studsnaam %></h3>
              <h4><%= stud.vakken %></h4>
              <p>Leerjaar <%= stud.studsleerjaar %></p>
              <form action="/unlike" method="POST">
                <input type="hidden" name="studId" value="<%= stud._id %>" />
                <button id="unlikeBtn" type="submit">Unlike</button>
                <a>Inplannen</a>
              </form>
            </article>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </section>
    </main>
  </body>
</html>
