<!DOCTYPE html>
<html lang="en">

<%- include ('head.ejs') %>

<body>
  <%- include ('header.ejs') %>
  <main class="themeBuilder1">
    <section>
      <section class="leftmainsection">
        <img src="/img/hexside-main-logo.png" alt="Hexside Symbol Logo">
        <h1>Ufuk Argun</h1>
        <h2>Student | Leerjaar 2</h2>
      </section>
      <section>
        <a onclick="location.href='/';">Reset to Default</a>
        <a onclick="location.href='/';">+ Add New Theme</a>
        <% col_thema.forEach(function(theme){ %>
        <a href="/col_thema/<%= theme._id %>"
          style=" font-size: 13px; text-decoration:none; text-align: center; display:flex; background-color: <%= theme.backgroundColor %>">
          <img src="../uploads/<%= theme.images %>" loading="lazy" alt="<%= theme.name %> thumbnail" width="40"
            height="40">
          <span style="margin: 10px 10px;"><%= theme.name %></span>
        </a>
        <% }); %>
      </section>

      <%- include ('form.ejs') %>

      <section>
        <section class="rightmainsection">
      
        </section>
      </section>
    </section>
  </main>
  <footer>
  </footer>

</body>

</html>