<!DOCTYPE html>
<html lang="en">

<%- include ('head.ejs') %>
<%- include('header.ejs') %>

<body class="body-overflow-hidden">
  <main class="themeBuilder">
    <section>
      <section class="leftmainsection">
        <img src="../public/img/profilepic-02.svg" alt="Profielfoto">
        <h1><%= user.name %> <%= user.surname %></h1>
        <p>Student | Leejaar <%= user.leerjaar %></p>
        <a href="/matchpage">Terug naar home</a>
      </section>
      <section>
        <a onclick="location.href='/theme/themaAanpassen';">Reset to Default</a>
        <a onclick="location.href='/theme/themaAanpassen';">+ Add New Theme</a>
        <% col_thema.forEach(function(theme){ %>
        <a href="/theme/col_thema/<%= theme._id %>"
          style=" font-size: 13px; text-decoration:none; text-align: center; display:flex; background-color: <%= theme.backgroundColor %>">
          <span
            style="margin: 10px auto 10px auto; text-align: center; color: <%= theme.textColor %>;"><%= theme.name %></span>
        </a>
        <% }); %>
      </section>

      <%- include ('form.ejs') %>

      <section>
        <h2>Template Example</h2>
        <section class="rightmainsection">
          <ul>
            <li>Vak 1</li>
            <li>Project 1</li>
            <li>Team-project 2</li>
          </ul>
          <article class="fb-post-streep"></article>
          <article class="fb-post-header">
            <img src="../public/img/profielfoto.png" alt="Profielfoto">
            <article class="fb-post-header-info">
              <h3>StudS</h3>
              <p>Leerjaar 1</p>
              <p>1 min. geleden</p>
            </article>
            <article class="fb-post-content">
              <p>Welkom bij StudS!
                Wij verbinden studenten en student-assistenten op een platform waar ze elkaar kunnen vinden en helpen.
                Tijdens
                je registratie geef je als student aan welke vakken je volgt, en als student-assistent welke vakken je
                wilt
                ondersteunen.

                Uiteindelijk voor een tijdlijn gegenereerd waar beide partijen elkaar kunnen bereiken doormiddel van
                posts, chat
                berichten en andere vormen van contacten! </p>
              <a href="#">
                <img src="../public/img/thumbsup.svg" alt="Thumbs up">
                Vind ik leuk
              </a>
            </article>
            <article class="fb-post-footer">
              <a href="#">
                <img src="../public/img/thumbsup.svg" alt="Thumbs up">
                Vind ik leuk
              </a>
              <a href="#">
                <img src="../public/img/bericht.svg" alt="opmerking">
                Opmerkingen
              </a>
              <a href="#">
                <img src="../public/img/repost.svg" alt="delen">
                Delen
              </a>
            </article>
        </section>
      </section>
    </section>
  </main>
  <footer>
  </footer>

</body>

</html>